@using ZayShop.Areas.Admin.Models.Product
@model ProductIndexVM


	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		<thead>
		<a class="btn btn-primary" asp-controller="Product" asp-action="Create" >Create</a>
		
			<tr>
				<th>Photo</th>
				<th>Title</th>
				<th>Sizes</th>
				<th>Price</th>
				<th>Category</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var product in Model.Products)
			{
				<tr>
					<td><img style="width:50%; transform:translateX(80px); height:100px; border-radius:5px; object-fit:cover" src="@product.PhotoPath" title="Photo" /></td>
					<td >@product.Name</td>
					<td>@product.Size</td>
					<td>$@product.Price</td>
					<td>@product.Category</td>
					<td>
						<a class="btn btn-primary" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>
						<form class="d-inline" method="post" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
							<button type="submit" class="btn btn-outline-danger">Delete</button>
						</form>

					</td>
				</tr>
			}

		</tbody>
	</table>
